<div class="outer-container">
  <div class="content-container">
    <div class="section intro">
      <nav class="socials-navbar">
        <a href="https://www.linkedin.com/in/adnannizami/" target="_blank">
          <fa-icon fa-beat [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://github.com/adnannizami" target="_blank">
          <fa-icon fa-beat [icon]="faGithub"></fa-icon>
        </a>
        <a
          href="https://drive.google.com/file/d/1EGd7Zp_2FAwaMO3usEKlGF2LXR4rKxoV/view?usp=sharing"
          target="_blank"
        >
          <fa-icon fa-beat [icon]="faFile"></fa-icon>
        </a>
      </nav>
      <div class="intro-container">
        <h1 class="intro-header-text">
          Hi, my <br />
          name is <b>Adnan</b>
        </h1>
        <h3 class="intro-subheader-text">
          I'm a <b>full stack developer</b> from <br />
          Los Angeles, CA
        </h3>
      </div>
      <div class="menu-container">
        <button
          mat-stroked-button
          class="skills-button"
          (click)="scrollIntoView(skills)"
        >
          Skills
        </button>
        <button
          mat-stroked-button
          class="projects-button"
          (click)="scrollIntoView(projects)"
        >
          Projects
        </button>
        <button
          mat-stroked-button
          class="about-button"
          (click)="scrollIntoView(about)"
        >
          About
        </button>
        <button mat-stroked-button (click)="scrollIntoView(contact)">
          Contact
        </button>
      </div>
    </div>
    <div class="section skills" #skills>
      <h1 class="section-header skills-text">Skills</h1>
      <div class="skills-content-container">
        <div class="skills-container skills-hidden">
          <div class="skill-header-container">
            <span class="skill-header-text">Backend</span>
          </div>
          <div class="skill-content backend-content">
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=java" />
              <span class="skill-text">Java</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=spring" />
              <span class="skill-text">Spring</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=postgres" />
              <span class="skill-text">SQL</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=python" />
              <span class="skill-text">Python</span>
            </div>
            <div class="skill-container">
              <img src="../assets/restfulapi.png" />
              <span class="skill-text">RESTful API</span>
            </div>
          </div>
        </div>
        <div class="skills-container skills-hidden">
          <div class="skill-header-container">
            <span class="skill-header-text">Frontend</span>
          </div>
          <div class="skill-content frontend-content">
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=angular" />
              <span class="skill-text">Angular</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=js" />
              <span class="skill-text">Javascript</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=ts" />
              <span class="skill-text">Typescript</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=html" />
              <span class="skill-text">HTML</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=css" />
              <span class="skill-text">CSS</span>
            </div>
          </div>
        </div>
        <div class="skills-container skills-hidden">
          <div class="skill-header-container">
            <span class="skill-header-text">Tools</span>
          </div>
          <div class="skill-content tools-content">
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=git" />
              <span class="skill-text">Git</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=aws" />
              <span class="skill-text">AWS</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=figma" />
              <span class="skill-text">Figma</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=postman" />
              <span class="skill-text">Postman</span>
            </div>
            <div class="skill-container">
              <img src="https://skillicons.dev/icons?i=selenium" />
              <span class="skill-text">Selenium</span>
            </div>
          </div>
        </div>
      </div>
      <div class="tilt">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>
    <div class="section projects" #projects>
      <h1 class="section-header">Projects</h1>
      <div class="projects-content-container">
        <div class="project-container project-hidden">
          <img class="image library-image" src="../assets/library.png" />
          <div class="project-content-container library-content">
            <span class="project-header-text">Component Library Grid</span>
            <p class="project-text">
              I created a custom grid component for the SPE shared component
              library. This included features such as giving users the ability
              to save grid views, create column groups and more.
            </p>
            <p class="project-text">
              Creation of this component helped to reduce development time for
              future projects.
            </p>
          </div>
        </div>
        <div class="project-container project-hidden">
          <img class="image webpage-image" src="../assets/webpage.png" />
          <div class="project-content-container webpage-content">
            <span class="project-header-text">License Availability</span>
            <p class="project-text">
              I developed a visually appealing grid-style webpage that enables
              users to easily view and customize movie license availability
              data.
            </p>
            <p class="project-text">
              Users were given the ability to effortlessly browse through
              hundreds of thousands of entries while editing the data to suit
              their needs.
            </p>
          </div>
        </div>
        <div class="project-container project-hidden">
          <img class="image webpage-image" src="../assets/pages.png" />
          <div class="project-content-container webpage-content">
            <span class="project-header-text">Strategic Windowing</span>
            <p class="project-text">
              As part of this project I built multiple webpages using
              Figma-designed prototypes with a focus on optimizing usability and
              efficiency.
            </p>
            <p class="project-text">
              Also ensuring fast load times and an overall responsive user
              experience.
            </p>
          </div>
        </div>
      </div>
      <div class="wave-opacity">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>
    <div class="section about" #about>
      <h1 class="section-header about-text">About</h1>
      <div class="about-container">
        <img class="about-image" src="./assets/about.png" />
        <div class="about-content">
          <p>
            In college I had a deep rooted interest in learning about how
            computers work and what programming is all about.
          </p>
          <p>
            Since then I have been absorbing new software concepts and using
            that knowledge to develop clean and responsive applications.
          </p>
          <p>
            When I'm not coding, I'm usually watching a new show, playing video
            games or working out.
          </p>
        </div>
      </div>
    </div>
    <div class="section contact" #contact>
      <h1 class="section-header">Contact</h1>
      <div class="contact-container">
        <div class="mail-icon-container">
          <span class="material-symbols-outlined mail-icon">mail</span>
        </div>
        <div class="email-text-container">
          <span class="email-text">Email</span><br />
          <a class="email-link" href="mailto:anizami1217@gmail.com"
            >anizami1217@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
